{% extends "layout.html" %}
{% block body %}
<h3>hakkımda</h3>
<hr>
Araştırmacıların daha etkin ve verimli makale taraması yapabilmeleri için Türkiye Makaleler Bibliyografyası ile Cumhuriyet Dönemi Makaleler Bibliyografyası üzerinde yapılan ayrıntılı bir çalışma sonucunda  1923'ten Günümüze Makaleler sloganıyla şu an için 5 bin dergideki 1 milyona yakın bilimsel makale tek bir ara yüzden taranabilir hale getirilmiştir.
Gerçekleştirilen çalışmalar sonucunda veri girişi altyapısı yeniden kurgulanmış olup, yeni sisteme yazar adları ve yayın adı otorite dizinleri eklenmiştir. Yeni kullanıcı ara yüzü ile yazar, makale, konu, dergi adı vb. filtremeler çok etkin ve verimli bir şekilde kullanıcının hizmetine sunulmuştur.
<hr>
{% endblock %}